.wrapper {
  //   width: 200px;
  width: 100%;
  height: 980px;

  background-image: url("https://new-client-website.s3.us-east-2.amazonaws.com/main-block-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapperToLimitContentWidth {
  max-width: 1159px;
  margin: 0px auto;
  @media (max-width: 1260px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 751px) {
    padding-left: 13px;
    padding-right: 13px;
  }
}
.lookingForExecutiveCar {
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
  margin-top: 24px;
  /* or 131% */

  text-align: center;

  color: #000000;

  @media (max-width: 913px) {
    font-size: 27px;
  }
}

.letsGetStartedAndMainTextContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 39.35px;
  @media (max-width: 996px) {
    flex-direction: column;
    align-items: center;
  }
}

.letsGetStartedContainer {
  min-width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 137px;
  @media (max-width: 996px) {
    margin-right: 0;
    order: 2;
  }
  @media (max-width: 502px) {
    min-width: 329px;
    max-width: 329px;
  }
  @media (max-width: 330px) {
    min-width: 305px;
    max-width: 305px;
  }
}
.letsGetStartedTitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 14px;
  color: #0b0b0b;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backButton,
.nextButton,
.payButton {
  width: 125px;
  height: 33.51px;
  background: #2096eb;
  border-radius: 4.78722px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.nextButtonDisabled,
.payButtonDisabled {
  width: 125px;
  height: 33.51px;
  background: #2096eb;
  border-radius: 4.78722px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.5;
}
.backButton {
  margin-right: 8px;
}
.mainText {
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;
  color: #000000;
  @media (max-width: 996px) {
    order: 1;
    text-align: center;
    margin-bottom: 45px;
  }
  @media (max-width: 913px) {
    font-size: 22px;
    line-height: 30px;
  }
}
