.wrapper {
  width: 100%;

  height: auto;
  margin: 0px auto;
  background: rgb(16, 16, 32);
  padding-top: 33.82px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 17.68px;
  filter: opacity(89%);
}
.logoAndSocialmediaIconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 502px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.logo {
  position: relative;
  width: 186.71px;
  height: 34.3px;
  @media (max-width: 502px) {
    width: 156px;
    height: 28px;
    margin-bottom: 15px;
  }
}
.socialmediaIconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facebook,
.twitter,
.instagram,
.linkedin {
  position: relative;
  width: 21.33px;
  height: 21.33px;
  margin-right: 26.67px;
}
.facebook {
}
.twitter {
}
.instagram {
}
.linkedin {
}
.copyrightContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 4.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  & > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    @media (max-width: 502px) {
      text-align: center;
    }
  }
  @media (max-width: 912px) {
    margin-top: 10px;
  }
}
