.wrapperWithBlackBorders {
  //   position: relative;
  width: 100%;
  height: auto;
  padding: 11px 12px;
  margin-bottom: 21px;
  border-radius: 10px;
  background: #666666;
}
.wrapper {
  width: 100%;
  height: 441px;
  padding: 9px 10px;
  border-radius: 10px;
  background: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    // top: 100px;
    border-radius: 15px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    // margin-top: 84px;
    margin-bottom: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border: 1px solid #ebebeb;
    cursor: pointer;
    // borderRadius: "40px",
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb:hover {
    // background: #bfaf82;
    // cursor:pointer;
  }
}

.mapContainer {
  position: relative;
  width: 319px;
  height: 122px;
  border-radius: 10px;
  margin-bottom: 8px;
  @media (max-width: 502px) {
    width: 279px;
  }
}
.carWrapper {
  margin-bottom: 10px;
}
.pickUpDateContainer,
.pickUpTimeContainer,
.fromContainer,
.toContainer,
.personsContainer,
.youthBoosterSeatContainer,
.infantAndChildSafetySeatContainer,
.meetAndGreetLuggageAssistContainer,
.preferenceContainer,
.tipsContainer,
.transactionFeeContainer,
.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pickUpDateTitle,
.pickUpTimeTitle,
.fromTitle,
.toTitle,
.personsTitle,
.personsTitle,
.infantAndChildSafetySeatTitle,
.meetAndGreetLuggageAssistTitle,
.preferenceTitle,
.tipsTitle,
.transactionFeeTitle,
.totalTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;

  letter-spacing: -0.0911019px;

  color: #000000;
}

.reservationDetailsItemPointedLineContainer {
  flex-grow: 1;
}
.reservationDetailsItemPointedLineSelf {
  margin-top: 12px;
  background-color: transparent;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 2px dotted black;
}

.pickUpDateValueContainer,
.pickUpTimeValueContainer,
.fromValueContainer,
.toValueContainer,
.personsValueContainer,
.youthBoosterSeatValueContainer,
.infantAndChildSafetySeatValueContainer,
.meetAndGreetLuggageAssistValueContainer,
.preferenceValueContainer,
.transactionFeeValueContainer,
.totalValueContainer {
  display: inline;
  max-width: 60%;
  text-align: right;
}

.pickUpDateValue,
.pickUpTimeValue,
.fromValue,
.toValue,
.personsValue,
.youthBoosterSeatValue,
.infantAndChildSafetySeatValue,
.meetAndGreetLuggageAssistValue,
.preferenceValue,
.transactionFeeValue,
.totalValue {
  display: inline;
  // fontSize: "16px",
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.0911019px;

  color: #000000;
}
.totalTitle,
.totalValue {
  font-weight: 700;
  font-size: 16px;
}
.tipsValueContainer {
  position: relative;
}
.tipsValueInput {
  width: 43px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding: 2px 3px;
  border-radius: 1px;
  cursor: pointer;
}
.tipsValue {
  font-weight: 600;
  font-size: 8.83412px;
  color: #000000;
}
.dropDownContainer {
  width: 43px;
  position: absolute;
  top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1px;

  & > span {
    width: 100%;
    font-weight: 600;
    font-size: 8.83412px;
    margin-top: 3px;
    margin-bottom: 1px;
    // line-height: 9px;
    // letter-spacing: -0.0911019px;

    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #fafafa;
    }
  }
}

.notesContainer {
  width: 100%;
  margin-top: 18px;
}
.notesTextArea {
  width: 100%;
  height: 30px;
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  outline: none;
  resize: none;
  border: none;

  color: black;
  font-family: "Vazir", sans-serif;
  border-bottom: 1px solid black;
  &::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: black;
    font-family: "Vazir", sans-serif;
  }
  &:-moz-placeholder {
    /* Upto Firefox 18, Deprecated in Firefox 19  */
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: black;
    font-family: "Vazir", sans-serif;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: black;
    font-family: "Vazir", sans-serif;
  }
  &:-ms-input-placeholder {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: black;
    font-family: "Vazir", sans-serif;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
