.wrapperWithBlackBorder {
  width: auto;
  height: auto;
  position: relative;
  padding: 11px 12px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  //   filter: opacity(76%);
  margin-bottom: 21px;
}
.wrapper {
  width: 368px;
  height: 440.59px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 15px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border: 1px solid #ebebeb;
    cursor: pointer;
    border-radius: 15px;
  }

  border-radius: 4.78722px;
  padding: 11px;
  background: white;
}
