// @use "../../../MAINCSSFORWHOLECOMPONENTS/MainInputsStyles.module" as *;
// @use "../../../MAINCSSFORWHOLECOMPONENTS/AppBackgroundColor.module" as *;
// @use "../../../MAINCSSFORWHOLECOMPONENTS/SidePaddings.module" as *;
// @use "../../../MAINCSSFORWHOLECOMPONENTS/FontColor.module" as *;
// @use "../FleetForm/FleetForm.module.scss" as *;
// @use "../../../MAINCSSFORWHOLECOMPONENTS/_ButtonsGroupBackAndNext.module.scss"
//   as *;

$green: #2ecc71;
$lightgray: lightgray;
$background: grey;

@mixin inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}

@mixin beforeAnimation {
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

@mixin afterAnimation {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04),
    0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

.wrapperWithBlackBorders {
  width: 400px;
  height: 441px;
  padding: 8px 9px;
  background: #666666;
  border-radius: 8px;
  margin-bottom: 21px;
}
.wrapper {
  height: 100%;
  padding: 35px 44px;
  background: white;
  border-radius: 8px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    // top: 100px;
    border-radius: 15px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    // margin-top: 84px;
    margin-bottom: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border: 1px solid #ebebeb;
    cursor: pointer;
    // borderRadius: "40px",
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb:hover {
    // background: #bfaf82;
    // cursor:pointer;
  }
}

.inputFirstAndLastName {
  box-sizing: border-box;
  width: 100%;
  height: 27px;
  padding: 0;
  text-indent: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13.5px;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13.5px;
    color: black;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 13.5px;
    color: black;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 13.5px;
    color: black;
  }
  &:focus {
    outline: none;
  }
}
.inputsDivided {
  box-sizing: border-box;
  width: 100%;
  height: 27px;
  padding: 0;
  text-indent: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13.5px;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13.5px;
    color: black;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 13.5px;
    color: black;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 13.5px;
    color: black;
  }
  &:focus {
    outline: none;
  }
}

.inputFullWidth {
  box-sizing: border-box;
  width: 100%;
  height: 27px;
  padding: 0;
  text-indent: 20px;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
  }
  &:focus {
    outline: none;
  }
}

.cardholderInformationInputSelfContainerJustForFirstAndLastName {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    border-right: 1px solid #dadada;
    top: 28%;
    right: 0;
    width: 1px;
    height: 44%;
    margin-top: auto;
    margin-bottom: auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

// select,
// option {
//   -webkit-appearance: none;
// }

.switchContainer {
  // margin: auto;
  // padding: 20px;
  // width: 55px;
  // border: 1px solid $lightgray;
  // margin-top: 20px;
  // border-radius: 5px;
  // background: white;
  input {
    &.switchSelf {
      opacity: 0; // hides checkbox
      position: absolute;
      // & + label {
      //   background: white;
      // }
      & + label {
        position: relative;
        display: inline-block;
        user-select: none;
        transition: 0.4s ease;
        height: 17px;
        width: 37px;
        border: 1px solid white;
        border-radius: 11px;

        &:hover {
          cursor: pointer;
          // border: 1px solid white;
          transition: 0.1s ease;
        }
        &:before {
          @include inactiveMixin;
          @include beforeAnimation;
          height: 17px;
          width: 37px;
          top: 0;
          left: 0;
          border-radius: 30px;
        }
        &:after {
          @include inactiveMixin;
          @include afterAnimation;
          //   background: $background;
          height: 15px;
          width: 15px;
          top: 1px;
          left: 0px;
          border-radius: 60px;
          // &:hover {
          //   background: white;
          //   transition: 0.1s ease;
          // }
        }
        &:hover::after {
          @include inactiveMixin;
          @include afterAnimation;
          background: white;
          // height: 15px;
          // width: 15px;
          // top: 1px;
          // left: 0px;
          // border-radius: 60px;
          // &:hover {
          //   background: white;
          //   transition: 0.1s ease;
          // }
        }
      }
      // When Active
      &:checked {
        & + label:before {
          //   background: $green; // Active Color
          transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
        }

        & + label:after {
          left: 59%;
          background: white;
        }
      }
    }
  }
}

/* The container */
.checkmarkContainer {
  // display: block;
  position: relative;
  // padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 40px;
}

/* Hide the browser's default checkbox */
.checkmarkContainer {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Create a custom checkbox */
.checkmarkSelf {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkmarkContainer:hover {
  input ~ .checkmarkSelf {
    -webkit-box-shadow: 0px 0px 5px -1px #ffffff;
    box-shadow: 0px 0px 5px -1px #ffffff;
  }
}

/* When the checkbox is checked, add a blue background */
.checkmarkContainer {
  input:checked ~ .checkmarkSelf {
    background-color: transparent;
  }
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkSelf:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmarkContainer input:checked ~ .checkmarkSelf:after {
  display: block;
}

/* Style the checkmark/indicator */
// .checkmarkContainer,
.checkmarkSelf:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.errorInputs {
  margin: 0;
  margin-top: 3px;
  color: red;
  font-size: 13px;
}
.errorInputs {
  margin: 0;
  margin-top: 3px;
  color: red;
  font-size: 13px;
}

.formWrapper {
  width: 100%;
  //   @include whole-app-background;
  height: 100%;
  // @media (max-width: 500px) {
  //   padding-top: 75px;
  // }
}
.paymentWrapper {
  width: auto;
  // @include side-paddings-for-whole-widget-page;
  height: 100%;
  //   @include side-paddings-for-whole-widget-page;

  //   width: 100%;
}
.paymentContainer {
  //   width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paymentTitleContainer {
  margin-bottom: 15px;
}
.paymentTitleSelf {
  font-weight: 700;
  font-size: 17px;
  line-height: 13px;
  color: #141413;
  //   @include global-title-styles;
}
.isPassengerCardholderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.isPassengerCardholderTitleContainer {
}
.isPassengerCardholderTitleWhiteSelf {
  font-size: 16px;
  //   color: $font-color;
}
.isPassengerCardholderTitleGreySelf {
  color: #757575;
}

.passengerDetailWrapper {
}
.passengerDetailTitleContainer,
.cardholderInformationTitleContainer,
.cardInformationTitleContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.passengerDetailTitleSelf,
.cardholderInformationTitleSelf,
.cardInformationTitleSelf {
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  color: #141413;
  //   color: $font-color;
}

.cardholderInformationWrapper {
}
// cardholderInformationTitleContainer
// cardholderInformationTitleSelf

.cardholderInformationInputsWrapper {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}
.cardholderInformationInputsContainerForPositionErrorMessage,
.cardholderInformationInputsContainerForPositionErrorMessageState {
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;
}

.cardholderInformationInputsContainerForPositionErrorMessageState {
  position: relative;

  &.cardholderInformationInputsContainerForPositionErrorMessageState:after {
    content: "\0025BC";
    font: normal normal normal 12px/1 FontAwesome;
    // color: red;
    right: 14px;
    top: -4px;
    height: 26px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
}
// .cardholderInformationInputsWrapperJustForFirstAndLastName {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
.inputFirstAndLastName,
.inputFullWidth,
.inputsDivided,
.cardholderInformationInputWithFullWidthSelf,
.cardholderInformationInputSelf {
  width: 100%;
  height: 27px;
  border-radius: 4.67747px;
  border: 1px solid #dadada;
  outline: none;
}

.cardholderInformationInputSelfContainer {
}
.cardholderInformationInputSelfContainer1,
.cardholderInformationInputSelfContainer1City {
  width: 50%;
  margin-right: 7px;
}
.cardholderInformationInputSelfContainer1City {
  position: relative;

  &.cardholderInformationInputSelfContainer1City:after {
    content: "\0025BC";
    font: normal normal normal 12px/1 FontAwesome;
    // color: red;
    right: 14px;
    top: -4px;
    height: 26px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
}
.cardholderInformationInputSelfContainer2 {
  // width: 100%;
  width: 50%;
}

.cardholderInformationInputSelf {
  box-sizing: border-box;

  width: 100%;
  padding: 0;
  text-indent: 20px;
  &::-webkit-calendar-picker-indicator {
    opacity: 100;
    // color: $inputs-color;
  }
}
.cardholderInformationInputWithFullWidthSelf,
.cardholderInformationInputWithFullWidthSelfState {
  //   @include main-inputs-size-and-background-styles-etc;
  box-sizing: border-box;
  // &::placeholder {
  //   @include payment-inputs-with-left-padding;
  // }
  font-size: 13px;
  width: 100%;
  padding: 0;
  // padding-right: 25px;
  text-indent: 20px;
  // &::-webkit-calendar-picker-indicator {
  //   opacity: 1;
  //   color: $inputs-color;
  // }
}

// .cardholderInformationInputWithFullWidthSelfState {
// }

.checkboxWrapper {
  // margin-bottom: 16px;

  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 18px;
  & > input {
    opacity: 0; // hides checkbox
    position: absolute;
    // & + label {
    //   background: white;
    // }

    & + label {
      width: 23.92px;
      height: 14.35px;
      position: relative;
      display: inline-block;
      user-select: none;
      transition: 0.4s ease;

      border: 1px solid black;
      background: white;
      border-radius: 11px;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
        // border: 1px solid white;
        transition: 0.1s ease;
      }
      //   &:before {
      //     content: "";
      //     position: absolute;
      //     display: block;
      //     transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
      //     height: 20px;
      //     width: 32px;
      //     top: 0;
      //     left: 0;
      //     border-radius: 30px;
      //   }
      &:after {
        content: "";
        position: absolute;
        display: block;
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),
          0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13),
          0 3px 3px hsla(0, 0%, 0%, 0.05);
        transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        background: grey;
        height: 9.57px;
        width: 9.57px;
        top: 1px;
        left: 2px;
        border-radius: 60px;
        // &:hover {
        //   background: white;
        //   transition: 0.1s ease;
        // }
      }
      &:hover::after {
        // @include inactiveMixin;
        // @include afterAnimation;
        background: black;
        // height: 15px;
        // width: 15px;
        // top: 1px;
        // left: 0px;
        // border-radius: 60px;
        // &:hover {
        //   background: white;
        //   transition: 0.1s ease;
        // }
      }
    }
    // When Active
    &:checked {
      & + label {
        border: 1px solid black;
        background: white;
      }

      & + label:after {
        left: 48%;

        background: black;
      }
    }
  }
}
.checkboxLabel {
  position: relative;
  // padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 40px;
  &:hover {
    span {
      -webkit-box-shadow: 0px 0px 5px -1px #ffffff;
      box-shadow: 0px 0px 5px -1px #ffffff;
    }
  }
  input:checked ~ span {
    background-color: transparent;
  }

  input:checked ~ span:after {
    display: block;
  }
}
.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked + .checkboxSpan {
    &:after {
      display: block;
    }
  }
  &:checked + .checkboxSpan {
    background-color: transparent;
  }
}
.checkboxSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
  &:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.termsAndPrivacyPolicyContainer {
  padding-top: 12px;
}
// @include buttons-group;
.buttonGroupBlock {
  // padding-bottom: 20px;
}

.buttonGroupBlockContainer {
  //   @include buttonGroupBlockContainer;
  //   @include margin-top-bottom-for-adressfrom-inputs;
  //   @include buttons-margin-bottom;
}

.buttonBackSelf {
  //   @include buttonBackSelf;
}

.buttonNextSelf {
  //   @include buttonNextSelf;
}
.placeholderForPicker {
  color: "grey";
}
.optionsSelf {
  margin: 10px auto;
}
.switchWrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

  & > input {
    opacity: 0; // hides checkbox
    position: absolute;
    // & + label {
    //   background: white;
    // }

    & + label {
      width: 23.92px;
      height: 14.35px;
      position: relative;
      display: inline-block;
      user-select: none;
      transition: 0.4s ease;

      border: 1px solid black;
      background: white;
      border-radius: 11px;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
        // border: 1px solid white;
        transition: 0.1s ease;
      }
      //   &:before {
      //     content: "";
      //     position: absolute;
      //     display: block;
      //     transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
      //     height: 20px;
      //     width: 32px;
      //     top: 0;
      //     left: 0;
      //     border-radius: 30px;
      //   }
      &:after {
        content: "";
        position: absolute;
        display: block;
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),
          0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13),
          0 3px 3px hsla(0, 0%, 0%, 0.05);
        transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        background: grey;
        height: 9.57px;
        width: 9.57px;
        top: 1px;
        left: 2px;
        border-radius: 60px;
        // &:hover {
        //   background: white;
        //   transition: 0.1s ease;
        // }
      }
      &:hover::after {
        // @include inactiveMixin;
        // @include afterAnimation;
        background: black;
        // height: 15px;
        // width: 15px;
        // top: 1px;
        // left: 0px;
        // border-radius: 60px;
        // &:hover {
        //   background: white;
        //   transition: 0.1s ease;
        // }
      }
    }
    // When Active
    &:checked {
      & + label {
        border: 1px solid black;
        background: white;
      }

      & + label:after {
        left: 48%;

        background: black;
      }
    }
  }
}
